#!/bin/bash

BLAS_NAME="Accelerate"
SYSTEM_NAME="local"

LINK_FLAGS="-framework Accelerate"
KERNEL_HEADERS="headers/blas.h headers/lapack.h"

BACKEND_PREFIX="VECLIB_MAXIMUM_THREADS={nt}"

NCORES=2
FREQUENCY_HZ=2000000000
CPU_MODEL="Intel(R) Core(TM) i7-3667U CPU @ 2.00GHz"
DFLOPS_PER_CYCLE=8

# vim: set ft=sh
